---
---

@import "{{ site.theme }}";

// Navigeringsmeny
nav {
  background-color: #1A733F;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centers the nav items horizontally */
  align-items: center;    /* Vertically aligns the nav items if needed */
}

nav ul li {
  margin: 0 15px; /* Space between the items */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}
